<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Titre de la page</title>

    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../styles/bootswatch-superhero.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <div ng-controller="test">
        <h1>{{message}}</h1>
        <div class="container">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="job in jobs">
                    <h4 class="list-group-item-heading">{{job.title}}</h4>
                    <p class="list-group-item-text">{{job.description}}</p>
                </a>
            </div>
        </div>
    </div>




    <script src="../Scripts/jquery-1.11.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>

    <script src="../Scripts/spa.js"></script>
</body>
</html>